.bg-dirty-white {
    background-color: whitesmoke;
}

.bg-grey {
    background-color: grey;
}

.bg-light-blue {
    background-color: rgb(40, 230, 255);
}

.bg-yellow {
    background-color: rgb(241, 189, 3);
}

.bg-black {
    background-color: rgb(0, 0, 0);
}

.bg-blue {
    background-color: rgb(23, 100, 255);
}

.bg-red {
    background-color: rgb(219, 59, 59);
}

.bg-green {
    background-color: rgb(5, 150, 58);
}

.container {
    margin-bottom: 20px;
}

[class*='col'] {
    padding: 15px;
}

h4 {
    margin-bottom: 50px;
    font-weight: 100;
    font-size: 16px;
}

strong {
    font-size: 24px;
    font-weight: 500;
}

.ms-title {
    font-size: 30px;
}